body {
  font-family: Helvetica;
  font-size: 14px;
  /*text-align: center;*/
  padding: 0,20,0,20;
  /*color: rgb(0,0,200);*/
  background: #cfd2d6;
}
.wrapper{
  /*padding-left:50px;padding-right:50px;*/
  padding-left: 10%;padding-right: 10%;

}
#topBlueBanner {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto 0;
    width: 100%;
    height: 22px;
    /*position: fixed;*/
    background: #0099cc;
    top: 0;
    left: 0;
    z-index: 10000;
    padding-bottom:  10px;

}
.text-center {
    text-align: center;
}
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #00a65a;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-danger {
    border-top-color: #dd4b39;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}
.box.box-primary {
  border-top-color: #3c8dbc;
  /*margin-left: -15px;*/
  width:150px;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.users-list{
list-style: none;
margin: 0;
padding: 0;
}
.users-list>li {
width: 25%;
float: left;
padding: 10px;
text-align: center;
}
.users-list>li img {
max-width: 100%;
height: auto;
}
.users-list>li>a:hover, .users-list>li>a:hover .users-list-name {
color: #999;
}

a:hover, a:active, a:focus {
outline: none;
text-decoration: none;
color: #72afd2;
}
.users-list-name {
font-weight: 600;
color: #444;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.users-list-name, .users-list-date {
display: block;
}
.no-padding {
padding: 0 !important;
}
.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}


footer{
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-bottom: 10px;
}
.logo{
    height:30%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
}
/*
#searchbar {
    height: 80px;
    float: left;
    margin: 0 10px 0 40px;
    position: relative;
}*/

.search {
    background-color: #eee;
    margin: 26px 0 11px;
    padding: 2px;
    border: 2px solid #444;
    box-shadow: 0px 0px 18px 4px #e0e0e0;
    -moz-box-shadow: 0px 0px 18px 4px #e0e0e0;
    -webkit-box-shadow: 0px 0px 18px 4px #e0e0e0;
    height: 30%;
    display: inline-block;

}
/* =Styles for the lab
-------------------------------------------------------------- */
.menuHeader{
  /*min-height: 250px;*/
  padding-top: 15px;
  padding-bottom: 15px;


}
nav {
	/*background-color:rgb(255,100,100);*/
	/*background-color:#F57602;*/
	background-color:#00a65a;
	padding:3px 0;
	overflow: hidden;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    z-index:1;
}
nav ul li {
    display:inline-block;
    position:relative;
}

/* sub navigation */
nav li ul {
    background-color:rgb(225,75,75);
    /*background-color:#F57602;*/
    background-color:#337ab7;
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
nav li li {
    position:relative;
    margin:0;
    display:block;
}
nav li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

/* style all links */
nav a {
    line-height:40px;
    padding:0 12px;
    margin:0 12px;
}
nav a {
    color:#fff;
    text-decoration:none;
    display:block;
}
nav a:hover,
nav a:focus,
nav a:active {
    color:rgb(50,50,50);
}

/* style sub level links */
nav li li a {
    border-bottom:solid 1px rgb(200,50,50);
    margin:0 10px;
    padding:0;
}
nav li li:last-child a {
    border-bottom:none;
}

/* hide sub menu links */
ul.sub-menu {
    display:none;
}

/* show arrows for dropdowns */
nav li.dropdown > a {
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li li.dropdown > a {
    background-position:right 16px;
    background-repeat:no-repeat;
}

.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block>.description-header {
    margin: 0;
    padding-top: 3px;
}

.item {
    margin-bottom: 10px;
}

.post {
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
}

.post .user-block {
    margin-bottom: 15px;
}

.user-block .username, .user-block .description, .user-block .comment {
    display: block;
    margin-left: 10px;
    color: #3c8dbc;
}

p {
    margin: 0 10px 10px;
    text-align: justify;
}

.form-group{
  padding: 10px;
  margin-bottom:0px;
}
